:root {
  --huply-primary-color:#3498db;
  --huply-danger-color:#ff0000;
  --huply-info-color:#0dcaf0;
  --huply-success-color:#198754;
  --huply-gray-100: #eee;
  --huply-gray-200: #eaeaea;
  --huply-gray-300: #ccc;
  --huply-gray-400: #bbb;
  --huply-gray-500: #aaa;
  --huply-border-radius: 5px;
}
